/*---Navbar--- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f7fc;
  font-family: sans-serif;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  height: 80px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: blue;
}

/* Profile */
.profile {
  background-color: white;
  padding: 20px;
  margin: 80px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px 0 grey;
}
.left-info {
  display: inline-block;
  width: fit-content;
  padding-right: 50px;
  line-height: 20px;
  margin: 15px 0;
}

.left-info img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.deskripsi {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.job {
  color: grey;
  margin-bottom: 30px;
}

.btn-kontak {
  padding: 12px 25px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgb(61, 49, 224);
  cursor: pointer;
}
.btn-kontak:hover {
  padding: 12px 25px;
  background-color: rgb(15, 15, 192);
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgb(61, 49, 224);
  cursor: pointer;
}

.btn-resume {
  padding: 12px 25px;
  background-color: white;
  color: green;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
}

.btn-resume:hover {
  padding: 12px 25px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgb(61, 49, 224);
  cursor: pointer;
}

.right-info {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #e6e6e6;
  padding-left: 50px;
  line-height: 25px;
}

.info {
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}

.info-value {
  list-style-type: none;
  display: inline-block;
}

/* Form */
.form {
  background-color: white;
  padding: 20px;
  margin: 80px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px 0 grey;
}

.form form {
  width: 100%;
  height: auto;
}

.form form .input-form {
  margin: 15px 0px;
  font-size: 15px;
}

.form form .input-form label {
  font-weight: bold;
}

.form form .input-form input {
  width: 100%;
  height: 30px;
}

.form form button {
  height: 34px;
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form form button:hover {
  height: 34px;
  width: 100%;
  background-color: rgb(10, 99, 10);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
